body {
    font-family: 'Ubuntu', sans-serif;   
}

.header {
    max-width: 3000px;
    margin:  0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}

.nav {
    position: relative;
    top: -32px;
    padding-left: 1200px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    height: 50px;
    width: 1841px;
    background-color: #5528FF; /* цвет панели сверху */
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-weight: 700;
}

.nav>li {
   margin-left: 45px;
}

.nav>li>a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.logo_texto {
    font-size: 24px;
    background-color: #298dff;
    color:#202020;
    border-radius: 15px;
    padding: 10px 20px;
    margin-left: 0px;
}
.logo_textt {
    position: relative;
    font-size: 24px;
    background-color: #298dff;
    color:#202020;
    border-radius: 15px;
    padding: 10px 20px;
    right: -1410px;
}