*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
}

.video_media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left 0;
}

.intro_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; 
}
input{
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #E9F2FF;
    border-radius: 5px;
    padding-left: 25px;
}

input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
    
}

main{
      width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3; 
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.circle{
    position: absolute;
    z-index: 1;
    width: 2534px;
    height: 2534px;
    border-radius: 50%;
    background: #F7FAFF;
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255,0.25);
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;   
}
@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
     25% {
        width: 2000px;
        height: 2000px;
    }
     50% {
        width: 1500px;
        height: 1500px;
    }
     75% {
        width: 1000px;
        height: 1000px;
    }
     100% {
        width: 534px;
        height: 534px;
    }
}
.form-title{
    color: #30507D;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
    
}

.register-form-container{
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
     width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;   
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
     25% {
        opacity: .25;
    }
     50% {
        opacity: .50;
    }
     75% {
        opacity: .75;
    }
     100% {
        opacity: 1;
    }
}

.form-field{
    margin-bottom: 13px;
}

.button{
    font-weight: bold;
    font-size: 14px;
    display: block;
    height: 35px;
    background: #247FFF;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    
}

.button:hover{
    background-color: #0D6CF2;
    
}


a.button{
    text-decoration:none;
    
}
