<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Zav.css' %}">
    <title>Форма регистрации</title>
</head>
<body>
<div class="intro">
<div class="video">
<video class="video_media" src="{% static 'img/Lava.mp4' %}" autoplay muted loop></video>
</div>
    </div>
    
 <main>
     <div class="circle"></div>
     <div class="register-form-container">
         <h1 class="form-title">    
             Регистрация
         </h1>
         <div class="form-feilds">
             <div class="form-field">
                 <input type="text" placeholder="">
             </div>
             <div class="form-field">
                 <input type="text" placeholder="">
             </div>
             <div class="form-field">
                 <input type="text" placeholder="">
             </div>
             <div class="form-field">
                 <input type="text" placeholder="">
             </div>
             <div class="form-field">
                 <input type="text" placeholder="">
             </div> 
              <div class="form-field">
                 <input type="text" placeholder="">
             </div> 
              <div class="form-field">
                 <input type="text" placeholder="">
             </div> 
               <div class="form-field">
                 <input type="text" placeholder="">
             </div> 
               <div class="form-field">
                 <input type="text" placeholder="">
             </div>   <div class="form-field">
                 <input type="text" placeholder="">
             </div> 
         </div>
         <div class="form-buttons">
             <a href="/" class="button">Сделать заказ</a>
         </div>
     </div>
 </main> 

</body>
</html>